$font-family: 'Roboto', sans-serif;
$header__font-size-xl : 40px;
$h2__font-size-xl : 32px;
$h3__font-size-xl : 24px;
$p__font-size-xl : 17px;


$text__color: #000000;
$body__color: #FFF9E9;
$primary__color: #009338;
$secondary__color: #F4BD0F;
$tertiary__color: #A6569C;


table {
    border-collapse: collapse;
    background-color: #ffffff; /* Changer la couleur de fond du tableau si nécessaire */
}

td,
th {
    border: 1px solid #000000; /* Ajouter des bordures aux cellules */
    padding: 8px; /* Ajouter un remplissage pour améliorer la lisibilité */
}

/* Changer la couleur du texte si nécessaire */
td,
th {
    color: #000000; /* Changer la couleur du texte si nécessaire */
}

