h1 {
    font-size: $header__font-size-xl;
    font-weight: 900;

}

h2 {
    font-size: $h2__font-size-xl
}

h3, .h3 {
    font-size: $h3__font-size-xl; 
}

p,
li {
    font-size: $p__font-size-xl; 
    text-align: justify;
}

a {
    text-decoration: none;
    color: $text__color;
    font-size: $p__font-size-xl; 

    &:hover {
        opacity: 0.6;
    }

    &:visited,
    &:active {
        color: $text__color;
    }
}

.background__primary{
    background-color: $primary__color;
}

.background__secondary{
    background-color: $secondary__color;
}

.background__tertiary{
    background-color: $tertiary__color;
}

.table-description-size{
    min-width: 300px;
}

.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.main__articleCard-xl {
    @include article__card;
}

nav {
    .navbar-brand{
        font-size: 40px;
        font-weight: 900;
    }

    li{
        font-weight: 500;
    }
}

.header__cardContact{
    @include desktop {
        justify-content: center; // position centrée même sur grand écran
    }
}

.form__h1{ 
    font-size: $h2__font-size-xl;
}

.cardContact{ // mise en page de la carte formulaire
    background-color: $primary__color;
    width: 100%;
    max-width: 928px;
    min-height: 586px;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse; // pour le responsive
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include desktop {
        flex-direction: row; // pour le desktop
        width: 80%;
    }

    .cardContact__contact{ // partie de droite
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 30px;

        @include desktop {
            padding: 50px;
            padding-left: 0px;
        }
    }

    .cardContact__form{ // partie de gauche
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 30px;
        max-width: 80%; // taille max des sections

        @include small-desktop{
            max-width: 60%; // taille max des sections
        }

        @include desktop {
            padding: 50px;
            padding-right: 30px;
        }
    }

    .contact__contactUs{ // logo et texte coordonnées
        display: flex;
        flex-direction: row;

        &>*{
            padding-left: 5px;
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    input, textarea{
        min-height: 50px;
        max-height: 300px;
        min-width: 100%;
        max-width: 100%;
    }
}

