h1 {
    font-size: $header__font-size-xl;
    font-weight: 900;

}

h2 {
    font-size: $h2__font-size-xl
}

h3, .h3 {
    font-size: $h3__font-size-xl; 
}

p,
li {
    font-size: $p__font-size-xl; 
    text-align: justify;
}

a {
    text-decoration: none;
    color: $text__color;
    font-size: $p__font-size-xl; 

    &:hover {
        opacity: 0.6;
    }

    &:visited,
    &:active {
        color: $text__color;
    }
}

.background__primary{
    background-color: $primary__color;
}

.background__secondary{
    background-color: $secondary__color;
}

.table-description-size{
    min-width: 300px;
}

.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.main__articleCard-xl {
    @include article__card;
}


