html {
    /* base de "10px" au lieu de "16px" */
    scroll-behavior: smooth; // scroll smooth
}


body {
    font-family: $font-family;
    color: $text__color;
    background-color: $body__color;
    font-size: $p__font-size-xl;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // centre sur petit écran
    margin-bottom: 60px; // marge pour séparer les sections
    gap: 60px;
}