<a href="{{base_url}}">Accueil</a>
<a href="{{base_url}}admin">Admin</a>
<br><br>

<h1>Formulaire de connexion</h1>

<form action="{{base_url}}login" method="post" enctype="multipart/form-data">
<label for="id">Email</label>
<input type="text" name="id">
<label for="password">Mot de passe</label>
<input type="password" name="password">

<button type="submit">Connexion</button>

</form>
<br>
{{message}}