<a href="{{base_url}}">Accueil</a> 		<a href="{{base_url}}/admin">Admin</a> <br><br>

<h1>Bienvenue dans votre espace de gestion</h1> <br>
<h2>Que voulez vous faire ?</h2><br><br>

<button onclick="location.href='/logout'">Déconnexion</button>